

html{
	font-family: 'Playfair Display', serif;
	font-size:16px;
	background-color:#ECECEC;
}

input{
	
	padding:5px 20px;
	margin-left:10px;
}
a{
	text-decoration:none;
	color:red;
	
}
h1{
	font-family: 'Permanent Marker', cursive;
	text-shadow: 30px color:red;
}
#form{
	text-align:center;
}
form{
	text-align:left;
	display:inline-block;
	margin-top:0;
}
#info{
	text-align: center;
}
header{
	text-align:center;
	background-color:#2C3E50;
	padding:10px;
	
}
	
header h1{
	color:white;
	margin-top:0;
	font-family: 'Permanent Marker', cursive;
	
}



.container{
	width:1000px;
	margin:0 auto;
	padding:15px;

}
.container p{
	
	text-align: center;
}
#button{
	text-align: center;
	padding: 15px;

}
button{
	color: red;


}